[MASTER]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    too-many-arguments,
    import-outside-toplevel

[FORMAT]
max-line-length=120

[DESIGN]
max-locals=15
max-branches=12
max-attributes=7
